# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Uploaded Files
# =========================
uploads/resumes/*
uploads/jd/*

# Keep folders
!uploads/resumes/.gitkeep
!uploads/jd/.gitkeep
